*/.vs/*
*/Debug/*
*/*/Debug/*
*log
*.pyc
*.cd
*.filters
.vs/ELM-PC1-WsSe-2018-19/v15/.suo
.vs/ELM-PC1-WsSe-2018-19/v15/Browse.VC.db
.vs/ProjectSettings.json
*.sqlite
Praktikum 3/Basisprojekt_WxWidgets/Basisprojekt_WxWidgets.vcxproj
Praktikum 3/Basisprojekt_WxWidgets/Basisprojekt_WxWidgets.vcxproj

build-Praktikum*
